:root {
  --primary: #676767;
  --secondary: #787878;
  --info: #d8f6ff;
  --highlight: #dbffe0;
  --saturated: #28c43d;
  --darkgray: #333333;
  --lightgray: #dfdfdf;
  --warn: #fff6c9;
  --white: #fff;
}
/*--secondary: #8cb191;*/
::selection {
  background: var(--highlight); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--highlight); /* Gecko Browsers */
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href],
a[href]:link,
a[href]:visited {
  background-image: linear-gradient(
    to bottom,
    var(--white) 30%,
    var(--primary) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0.1rem 0.3rem;
  color: var(--darkgray);
  text-decoration: none;
  transition: background-size 0.2s;
}
a[href]:hover {
  background-image: linear-gradient(
    to bottom,
    var(--white) 30%,
    var(--saturated) 100%
  );
  background-size: 0.1rem 0.6rem;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
main {
  padding: 2rem 1rem 1rem 1rem;
}
main :first-child {
  margin-top: 0rem;
}
main h1,
main h2,
main h3,
main h4 {
  font-family: "Ubuntu", sans-serif;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
code {
  background-color: var(--lightgray);
  border-radius: 3px;
  padding: 0.15rem;
}
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Content */
.container {
  max-width: 37.5rem; /* 600px /16 */
  margin: 0 auto;
}
/* Header */
.page-header {
  display: flex;
  border-bottom: 1px dashed var(--secondary);
}
.page-header > .home {
  margin-left: 1rem; /* 16px /16 */
  margin-top: 1.0625rem; /* 17px /16 */
  font-size: 1rem; /* 16px /16 */
  font-weight: bold;
  line-height: 1.1;
}
.page-header > .home > a[href] {
  background: initial;
  border: 1px solid var(--darkgray);
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  transition: initial;
  transition-duration: 0.333s;
}
.page-header > .home > a[href]:hover {
  color: var(--saturated);
  background-color: var(--darkgray);
  transition-duration: 0.333s;
}
/* Nav */
.page-nav {
  display: flex;
}
.nav {
  display: flex;
  padding: 0;
  list-style: none;
  margin-left: 1em;
}
.nav-item {
  margin-right: 1em;
  text-transform: lowercase;
}
.nav-item a[href]:not(:hover) {
  background-size: 0 0;
}
.nav-item a[href]:hover {
  transition-duration: 0.333s;
  color: var(--darkgray);
}
.nav-item.nav-item-active a {
  font-weight: 700;
}
/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0; /* 4px 0 /16 */
  text-decoration: none;
}
.postlist-link:hover {
  text-decoration: underline;
}
.postlist-item {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--secondary);
}
.postlist-item:last-child {
  border-bottom: none;
}
.postlist-item .abstract {
  margin-top: 0.5rem;
}
.postlist-item a[href].postlist-link:not(:hover) {
  background-size: 0 0;
  font-weight: bold;
}
.tmpl-home .postlist-item h2,
.tmpl-home .postlist-item h3 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

/* Tags */
.postlist-item .tag {
  vertical-align: bottom;
}
a[href].tag,
a[href].tag:visited {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem; /* 12px /16 */
  padding: 2px 4px;
  margin-bottom: 0.16rem; /* 1px /16 */
  margin-right: 0.5em; /* 8px /16 */
  background: var(--primary);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  transition: initial;
  transition-duration: 0.333s;
  color: #fff;
}
a[href].tag:hover {
  background-color: var(--saturated);
}
a[href].tag:last-child {
  margin-right: 0;
}
/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  background-size: 0 0;
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--secondary);
}

/* Footer */
.page-footer {
  margin-top: 1rem;
  padding: 2rem 0;
  border-top: 1px dashed var(--secondary);
  color: var(--secondary);
  font-size: 0.75rem;
  text-align: center;
}

/* Home */
.welcome {
  padding-bottom: 2rem;
  border-bottom: 1px dashed var(--secondary);
}
.welcome .title {
  margin: 0;
  line-height: 1;
  font-family: Ubuntu, sans-serif;
  font-size: 10vw;
  font-weight: bold;
}
.welcome .description {
  margin-top: 0;
  padding-left: 0.1rem;
  color: var(--primary);
}
/* Utility */
.attribution {
  font-size: 0.5rem;
}
.meta {
  color: var(--secondary);
  margin: 0.5rem 0;
}
.meta.author,
.meta.time {
  margin-bottom: 0.3rem;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
p.caption {
  font-style: italic;
  font-size: 0.8rem;
}
p.info {
  background-color: var(--info);
  padding: 0.5rem;
  border-radius: 3px;
}
p.top {
  text-align: right;
}
p.warn {
  background-color: var(--warn);
  padding: 0.5rem;
  border-radius: 3px;
}
code.term {
  display: block;
}
code.term::before {
  content: "$ ";
}
div.about h2 {
  margin: 1.25rem 0;
}
div.about img.me {
  width: 4rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  float: left;
}
/* 480px / 16px */
@media screen and (min-width: 30rem) {
  .welcome .title {
    margin: 0;
    font-size: 2.75rem;
  }
  div.about img.me {
    width: 10rem;
    margin-right: 1.25rem;
  }
}
