---
layout: layouts/home.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

<h1>About Me</h1>
<div class="about">
  <section class="personal">
    <h2 class="visually-hidden">Personal</h2>
    <img class="me" src="/img/me-min.png" alt="A picture of me"/>
    <p>
      Hi, I'm Nathan. Currently, I’m an educator and program leader at
      <a href="https://www.nait.ca/nait/home" rel="noopener" target="_blank">NAIT</a> in beautiful Edmonton, AB.
      I have a passion for teaching, specifically building software for the web and data analytics. I've been known
      to occasionally build things myself too. I'm currently focused on software team leadership, business analytics,
      and digital business architecture. Thanks for visiting my little corner of the Web!
    </p>
  </section>
  <section class="social">
    <h2>Social</h2>
    <a href="https://github.com/nathanhumphrey" rel="noopener" target="_blank">GitHub</a> /
    <a href="https://www.linkedin.com/in/nathan-p-humphrey/" rel="noopener" target="_blank">LinkedIn</a> /
    <a href="https://nathanhumphrey.ca" rel="noopener" target="_blank">Web</a> /
    <a href="https://www.youtube.com/channel/UCJRVZa4-x0RJo0dffNGsSew" rel="noopener" target="_blank">YouTube</a>

  </section>
</div>
