---
layout: layouts/home.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

<h1>About Me</h1>
<div class="about">
  <section class="personal">
    <h2 class="visually-hidden">Personal</h2>
    <img class="me" src="/img/me.jpg" alt="A picture of me"/>
    <p>
      Hi, I'm Nathan. Currently, I’m an educator and program leader at
      <a href="https://www.nait.ca/nait/home" rel="noopener" target="_blank">NAIT</a> in beautiful Edmonton, AB.
      I have a passion for teaching people how to build software for the web, and occasionally I make 
      things myself too. Right now, my interests are in full-stack JavaScript development, data analytics,
      and entrepreneurship. Thanks for visiting my little corner of the Web!
    </p>
  </section>
  <section class="social">
    <h2>Social</h2>
    <a href="https://github.com/nathanhumphrey" rel="noopener" target="_blank">GitHub</a> /
    <a href="https://www.linkedin.com/in/nathan-humphrey-5a7a97169/" rel="noopener" target="_blank">LinkedIn</a> /
    <a href="https://nathanhumphrey.ca" rel="noopener" target="_blank">Web</a>
  </section>
</div>
