---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section>
  <div class="welcome">
    <p class="title">{{ metadata.title }}</p>
    <p class="description">{{ metadata.description }}</p>
  </div>
  <h2>Latest Writings</h2>
  {% set postslist = collections.posts | head(-3) %} {% include "postslist.njk" %}
  <p class="tmpl-post">
    More writing can be found <a href="{{ '/posts/' | url }}">here</a>.
  </p>
</section>
