---
layout: layouts/home.njk
---

<section>
  <div class="welcome">
    <h1 class="title">{{ metadata.title }}</h1>
    <p class="description">{{ metadata.description }}</p>
  </div>
  <h2 class="visually-hidden">Latest Posts</h2>
  {% set isIndex = 'true' %}
  {% set postslist = collections.posts | head(-3) %} {% include "postslist.njk" %}
  <p class="tmpl-post">
    <a href="{{ '/posts/' | url }}">See all posts</a>
  </p>
</section>
