<ol reversed class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    {% if isIndex %} <h3> {% else %} <h2> {% endif %}
      <a href="{{ post.url | url }}" class="postlist-link" title="{{post.data.title}}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    {% if isIndex %} </h3> {% else %} </h2> {% endif %}
    <div class="meta">
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </div>
    <div class="meta">
      {% for tag in post.data.tags %}
        {%- if tag != "posts" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="tag" title="posts tagged with '{{tag}}'">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </div>
    <div class="abstract">
      {{post.data.abstract}}
    </div>
  </li>
{% endfor %}
</ol>
