<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50453547-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50453547-1');
    </script>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="icon" type="image/png" href="/favicon.ico?2108987463f3bdd37020efde9541db90">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}?e28fe60021527125d42d09192150abbf">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container" id="top">
      <header class="page-header">
        <p class="home">
          <a href="{{ '/' | url }}">nh</a>
        </p>
        {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
        <nav class="page-nav">
          <h2 class="visually-hidden">Main Navigation Menu</h2>
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
            listClass: "nav",
            listItemClass: "nav-item",
            activeListItemClass: "nav-item-active",
            activeKey: eleventyNavigation.key
          }) | safe }}
        </nav>
      </header>

      <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
        {{ content | safe }}
      </main>
      
      <footer class="page-footer">&copy; Nathan Humphrey <a href="https://nathanhumphrey.ca/feed/feed.xml">RSS</a></footer>

      <!-- Current page: {{ page.url | url }} -->
    </div>
  </body>
</html>